:root{
  --background-secondary: rgb(209, 209, 209);
  --background-primary: rgb(246, 246, 246);
  --color-black: rgb(40, 39, 51);
  --color-light-black: rgb(94, 93, 105);

  --color-primary: #B68F40;
}