:root {
  --background-secondary: rgb(209, 209, 209);
  --background-primary: rgb(246, 246, 246);
  --color-black: rgb(40, 39, 51);
  --color-light-black: rgb(94, 93, 105);
  --color-primary: #B68F40;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--background-primary);
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.console {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.database {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 1px solid gray;
  height: 100%;
}
.database__title {
  text-align: center;
  background-color: rgb(209, 209, 209);
  font-size: 1.6rem;
  padding: 0.4rem;
  border-bottom: 1px solid gray;
  cursor: default;
}
.database__item {
  list-style: none;
  position: relative;
  font-size: 1.2rem;
  padding: 0.4rem;
  border-bottom: 1px solid gray;
  cursor: default;
  transition: 100ms;
}
.database__item:hover {
  background-color: rgba(255, 214, 34, 0.4);
}
.database__item--selected {
  background-color: rgba(255, 214, 34, 0.4);
}
.database__item--selected::after {
  content: ">";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  outline: 1px solid black;
  padding: 0.2rem 0.1rem;
  border-radius: 2px;
  min-width: 90%;
}

.button {
  padding: 0.2rem;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: rgb(246, 246, 246);
  font-size: 1rem;
  border-radius: 2px;
  transition: 100ms;
  cursor: pointer;
}
.button:hover {
  color: rgb(246, 246, 246);
  background-color: var(--color-black);
}

.document {
  padding: 0.4rem 1rem;
}

.field {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
}
.field__button {
  margin-left: 1rem;
  text-align: center;
}
.field__button--add {
  width: 12rem;
}
.field__name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.field-dialog__content {
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.field-dialog__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.field-dialog__form {
  display: flex;
  flex-direction: column;
}
.field-dialog__label {
  font-size: 1rem;
  font-weight: 500;
}
.field-dialog__input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.field-dialog__select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.field-dialog__textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  resize: none;
  font-family: sans-serif;
  overflow: auto;
}
.field-dialog__button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.field-dialog__button:hover {
  background-color: #0056b3;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dialog__box {
  background-color: #fff;
  border-radius: 8px;
  width: clamp(25rem, 60%, 40rem);
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1001;
}
.dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.dialog__header-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
.dialog__header-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-bottom: -0.25rem;
  cursor: pointer;
  color: #333;
  user-select: none;
  -moz-user-select: none;
}
.dialog__header-close:hover {
  color: #000;
}
.dialog__content {
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
}

/*# sourceMappingURL=index.css.map */
